# https://editorconfig.org
root = true

[*]
indent_style = space
indent_size = 2
end_of_line = lf
charset = utf-8
trim_trailing_whitespace = true
insert_final_newline = true

[{*.json,LICENSE}]
insert_final_newline = ignore

[{*.min.js,*.min.css}]
indent_style = ignore
insert_final_newline = ignore

[Makefile]
indent_style = tab

[*.bat]
indent_style = tab

[*.md]
trim_trailing_whitespace = false

[{*.py,*.pyi}]
indent_size = 4