<!-- Twitter card -->
<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:site" content="@{{ config.twitter.site }}">
<meta name="twitter:creator" content="@{{ config.twitter.creator }}">
<meta name="twitter:url" content="{{ page.url }}">
<meta name="twitter:title" content="{{ page.title }}">
<meta name="twitter:description" content="{{ page.description }}">
<meta name="twitter:image" content="{{ page.images }}">
